<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moto DB</title>


         <!-- External styles-->
            <!-- Google Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

            <!-- CSS Reset -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

            <!-- Milligram CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

            <!-- You should properly set the path from the main file. -->


            <!-- Styles -->

            <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
    
    <h1>Stable</h1>
    <% for(let i = 0; i <bikes.length; i++){ %>  <% const bike = bikes[i] %>  
    <div class="bikes">
        <img src="<%= bike.image %>" alt="bikegoeshere">
    </div>

    <table>
        <thead>
          <tr>
            <th>Make / Model / Year</th>
            <th>Mileage</th>
            <th>VIN</th>
            <th>Currently Owned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= bike.make %> / <%= bike.model %> / <%= bike.year %></td>
            <td><%= bike.mileage %> </td>
            <td><%= bike.vin %></td>
            <td><%= bike.owned %></td>
          </tr>




<% } %>
</body>
</html>